@if (isVisible()) {
  <div class="cookie-consent" role="dialog" aria-label="Cookie consent">
    <div class="cookie-consent-container">
      <div class="cookie-content">
        <div class="cookie-icon">🍪</div>
        <div class="cookie-text">
          <h4 class="cookie-title">{{ 'cookie_consent.title' | translate }}</h4>
          <p class="cookie-description">
            {{ 'cookie_consent.text' | translate }}
            <a routerLink="/politica-cookies" class="cookie-link">
              {{ 'cookie_consent.learn_more' | translate }}
            </a>
          </p>
        </div>
      </div>
      
      <div class="cookie-actions">
        <button 
          type="button"
          class="btn btn-outline btn-sm"
          (click)="declineCookies()">
          {{ 'cookie_consent.decline' | translate }}
        </button>
        <button 
          type="button"
          class="btn btn-primary btn-sm"
          (click)="acceptCookies()">
          {{ 'cookie_consent.accept' | translate }}
        </button>
      </div>
    </div>
  </div>
}
