@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.image-placeholder {
  width: 100%;
  position: relative;
  background: linear-gradient(135deg, $gray-200 0%, $gray-300 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  overflow: hidden;

  // Aspect ratios
  &.aspect-16-9 {
    aspect-ratio: 16 / 9;
  }

  &.aspect-4-3 {
    aspect-ratio: 4 / 3;
  }

  &.aspect-1-1 {
    aspect-ratio: 1 / 1;
  }

  &.aspect-3-4 {
    aspect-ratio: 3 / 4;
  }

  &.aspect-21-9 {
    aspect-ratio: 21 / 9;
  }
}

.placeholder-icon {
  font-size: 3rem;
  opacity: 0.4;

  @include max-md {
    font-size: 2rem;
  }
}

.actual-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
