@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.why-choose-section {
  background-color: $bg-section-alt;
}

.reasons-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: $spacing-6;

  @include sm {
    grid-template-columns: repeat(2, 1fr);
  }

  @include lg {
    grid-template-columns: repeat(3, 1fr);
  }
}
