@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.services-section {
  background-color: $bg-light;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: $spacing-6;
  max-width: 1200px;
  margin: 0 auto;

  @include sm {
    grid-template-columns: repeat(2, 1fr);
  }

  @include lg {
    grid-template-columns: repeat(3, 1fr);
  }
}
